*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/
*.sqlite*
.env

# Ignore development settings
*local.py

# Ignore environment-specific files
.env.local
.env.development
.env.test
.env.production

# Ignore pipenv files
Pipfile
Pipfile.lock

core/settings.py