{% extends "layouts/base.html" %} {% block title %} Auctions {% endblock %}

<!-- Specific CSS goes HERE -->
{% block extrastyle %}
<style>
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content */
    
    .modal-content {
        position: relative;
        margin: 7% auto;
        padding: 20px;
        width: 60%;
        background-color: #2C394B;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding-left: 50px;
        padding-right: 50px;
    }
    /* The Close Button */
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .hidden-row {
        display: none;
    }
    /* Modal Content (Image) */
    
    .modal-content img {
        margin: auto;
        display: block;
        max-width: 90%;
    }
    /* Caption of Modal Image */
    
    #modal-caption {
        margin: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        font-size: 15px;
    }
    
    #clearFilters {
        background: none;
        border: none;
        color: red;
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-color: red;
        cursor: pointer;
        display: inline-block;
        /* To allow margins */
        margin: 5px;
    }
    
    #activeFilters .filter-label {
        background-color: #f7f7f7;
        padding: 10px 20px;
        padding-right: 40px;
        margin: 5px;
        border-radius: 15px;
        /* Rounded shape */
        display: inline-block;
        position: relative;
    }
    
    .filter-label a {
        margin-left: 10px;
        color: black;
        text-decoration: none;
        position: absolute;
        /* Positioning cross sign on the right */
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .filters-container {
        display: flex;
    }
    
    .flex-grow {
        flex: 1;
    }
    
    .sort-arrows {
        cursor: pointer;
    }
    
    .description-cell {
        cursor: pointer;
    }
    
    .asc {
        cursor: pointer;
    }
    
    .desc {
        cursor: pointer;
    }
</style>
{% endblock extrastyle %} {% block content %}

<div class="main-body">
    <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ Hover-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5>All Contracts</h5>
                    </div>
                    <div class="card-block table-border-style">
                        <!-- Start of form -->
                        <form id="filterForm" method="post" action="{% url 'search_contract' %}">

                            {% csrf_token %}
                            <div class="row mb-4 p-3 align-items-center">
                                <div class="col-lg-8 col-md-6">
                                    <div class="custom-search">
                                        <div class="input-group">
                                            <input type="text" id="custom-m-search" name="search_term" class="form-control" placeholder="Search . . ." value="{{ search_term }}">
                                            <a href="javascript:" class="input-group-append custom-search-close" onclick="clearSearch()">
                                                <i class="feather icon-x input-group-text"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-3 mb-2 mb-lg-0">
                                    <button type="submit" class="form-control btn-success" id="filtrer">Search</button>
                                </div>

                                <div class="col-lg-2 col-md-3 mb-2 mb-lg-0">
                                    <form id="filterForm" method="post" action="{% url 'add_contract' %}">
                                        <button class="form-control btn-info" type="submit" formaction="{% url 'add_contract' %}" id="export">Export</button>
                                    </form>
                                </div>
                            </div>

                        </form>
                        <!-- End of form -->


                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                            <span class="sort-arrows" data-column="id">
                                                                    <span class="asc" onclick="sortTable('id', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('id', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>
                                        <th>
                                            Full Name
                                            <span class="sort-arrows" data-column="name">
                                                                    <span class="asc" onclick="sortTable('name', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('name', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Email
                                            <span class="sort-arrows" data-column="email">
                                                                    <span class="asc" onclick="sortTable('email', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('email', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            PhoneNumber
                                            <span class="sort-arrows" data-column="phone">
                                                                    <span class="asc" onclick="sortTable('phone', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('phone', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Address
                                            <span class="sort-arrows" data-column="address">
                                                                    <span class="asc" onclick="sortTable('address', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('address', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Asset Tag Number
                                            <span class="sort-arrows" data-column="tag">
                                                                    <span class="asc" onclick="sortTable('tag', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('tag', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Serial Number
                                            <span class="sort-arrows" data-column="serial">
                                                                    <span class="asc" onclick="sortTable('serial', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('serial', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Equipment Name
                                            <span class="sort-arrows" data-column="eqname">
                                                                    <span class="asc" onclick="sortTable('eqname', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('eqname', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Install Date
                                            <span class="sort-arrows" data-column="install">
                                                                    <span class="asc" onclick="sortTable('install', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('install', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Monthly Charges
                                            <span class="sort-arrows" data-column="charges">
                                                                    <span class="asc" onclick="sortTable('charges', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('charges', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Billing Date
                                            <span class="sort-arrows" data-column="billing">
                                                                    <span class="asc" onclick="sortTable('billing', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('billing', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Renewal Date
                                            <span class="sort-arrows" data-column="renew">
                                                                    <span class="asc" onclick="sortTable('renew', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('renew', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Sales Person
                                            <span class="sort-arrows" data-column="salename">
                                                                    <span class="asc" onclick="sortTable('salename', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('salename', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            ID
                                            <span class="sort-arrows" data-column="saleid">
                                                                    <span class="asc" onclick="sortTable('saleid', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('saleid', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                        <th>
                                            Role
                                            <span class="sort-arrows" data-column="role">
                                                                    <span class="asc" onclick="sortTable('role', 'asc')" title="Sort Ascending">▲</span>
                                            <span class="desc" onclick="sortTable('role', 'desc')" title="Sort Descending">▼</span>
                                            </span>
                                        </th>

                                    </tr>

                                </thead>
                                <tbody>
                                    {% for contract in contracts %} {% for ce in contract.contractequipment_set.all %}
                                    <tr class="hidden-row">

                                        <!-- Contract ID -->
                                        <td>{{ contract.id }}</td>

                                        <!-- Client Details -->
                                        <td class="name-cell" data-name="{{ ce.person.first_name }} {{ ce.person.last_name }}">
                                            {{ ce.person.first_name }} {{ ce.person.last_name }}
                                        </td>

                                        <!-- Client Email -->
                                        <td onclick="toggleTitle(this, event)" data-fulltitle="{{ ce.person.email }}" data-truncatedtitle="{{ ce.person.email }}..." class="wrap-text">
                                            <a href="mailto:{{ ce.person.email }}" target="_blank" id="title-link">{{ ce.person.email }}...</a>
                                        </td>

                                        <!-- Client Phone Number -->
                                        <td>{{ ce.person.home_phone_number }} / {{ ce.person.business_phone_number }}</td>

                                        <!-- Client Address -->
                                        <td class="description-cell" data-description="{{ ce.person.street }}, {{ ce.person.city }}, {{ ce.person.state }}, {{ ce.person.zipcode }}, {{ ce.person.country }}">
                                            {% with full_address=ce.person.street|add:", "|add:ce.person.city|add:", "|add:ce.person.state|add:", "|add:ce.person.zipcode|add:", "|add:ce.person.country %} {{ full_address|truncatechars:35 }} {% endwith %}
                                        </td>


                                        <!-- Equipment Details -->
                                        <td>{{ ce.equipment.asset_tag_number }}</td>
                                        <td>{{ ce.equipment.serial_number }}</td>
                                        <td>{{ ce.equipment.equipment_name }}</td>

                                        <!-- Contract Details -->
                                        <td>{{ contract.installation_date }}</td>
                                        <td>{{ contract.monthly_charges }}</td>
                                        <td>{{ contract.billing_date }}</td>
                                        <td>{{ contract.renewal_date }}</td>

                                        <!-- Sales Person Details -->
                                        <td class="name-cell" data-name="{{ contract.person.first_name }} {{ contract.person.last_name }}">
                                            {{ contract.person.first_name }} {{ contract.person.last_name }}
                                        </td>

                                        <!-- Sales Person ID and Role -->
                                        <td class="description-cell" data-description="ID: {{ contract.person.id }}||Name: {{ contract.person.first_name }} {{ contract.person.last_name }}||Email: {{ contract.person.email }}||Phone: {{ contract.person.home_phone_number }} / {{ contract.person.business_phone_number }} ||Role: {{ contract.person.role }}">
                                            {{ contract.person.id }}
                                        </td>
                                        <td>{{ contract.person.role }}</td>
                                        <td>{{ contract.person.address }}</td>
                                    </tr>
                                    {% endfor %} {% empty %}
                                    <tr>
                                        <td colspan="14">No contract equipment found.</td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- [ Hover-table ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <button style="display: block; margin: auto; width:50%" id="loadMoreButton" onclick="loadMoreRows()" type="button" class="btn btn-primary" title="Load More Auctions" data-toggle="tooltip">Load More</button>
</div>

<div id="descriptionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p id="modal-text"></p>
    </div>
</div>

{% endblock content %} {% block extra_js %}
<script>
    let currentRow = 0;
    const rowsToShow = 50; // Number of rows to show initially and per "Load More" click

    function loadMoreRows() {
        const rows = document.querySelectorAll('.hidden-row');
        let newCurrentRow = currentRow + rowsToShow;

        // Unhide rows from currentRow to newCurrentRow
        for (let i = currentRow; i < newCurrentRow && i < rows.length; i++) {
            rows[i].style.display = 'table-row';
        }
        currentRow = newCurrentRow;

        // Hide "Load More" button if all rows are visible
        if (currentRow >= rows.length) {
            document.getElementById('loadMoreButton').style.display = 'none';
        }
    }

    // Call the function initially to show the first set of rows
    loadMoreRows();


    // JavaScript to toggle full title and handle link
    function toggleTitle(element, event) {
        var fullTitle = element.getAttribute("data-fulltitle");
        var truncatedTitle = element.getAttribute("data-truncatedtitle");
        var linkElement = element.querySelector('a');
        var currentTitle = linkElement.textContent;

        // Prevent the link from being activated when the title is truncated
        if (currentTitle === truncatedTitle && event.target.tagName === 'A') {
            event.preventDefault();
        }

        if (currentTitle === truncatedTitle) {
            linkElement.textContent = fullTitle;
        } else {
            linkElement.textContent = truncatedTitle;
        }
        element.classList.toggle("wrap-text");
    }


    function toggleDescription(element) {
        var fullText = element.getAttribute("data-fulltext");
        var truncatedText = element.getAttribute("data-truncatedtext");
        if (element.innerHTML === truncatedText) {
            element.innerHTML = fullText;
        } else {
            element.innerHTML = truncatedText;
        }
        element.classList.toggle("wrap-text");
    }

    // This assumes that your DOM is fully loaded; otherwise, wrap this in a DOMContentLoaded event.
    var cells = document.querySelectorAll('.description-cell');
    cells.forEach(function(cell) {
        cell.addEventListener('click', function(event) {
            var fullDescription = event.target.getAttribute('data-description');
            showDescription(fullDescription);
        });
    });


    function showDescription(fullDescription) {
        var lines = fullDescription.split("||");
        var formattedDescription = '<table>';

        lines.forEach(function(line) {
            var parts = line.split(":");
            formattedDescription += '<tr>';

            if (parts.length > 1) {
                // Title in first column, value in second column
                formattedDescription += '<td><b>' + parts[0].trim() + ':</b></td>';
                formattedDescription += '<td>' + parts.slice(1).join(":").trim() + '</td>';
            } else {
                // If there is no colon, span the entire row
                formattedDescription += '<td colspan="2">' + line.trim() + '</td>';
            }

            formattedDescription += '</tr>';
        });

        formattedDescription += '</table>';

        var modal = document.getElementById("descriptionModal");
        document.getElementById("modal-text").innerHTML = formattedDescription;
        updateModalBackground("descriptionModal");
        modal.style.display = "block";
    }



    // Function to close the modal
    function closeModal() {
        var modal = document.getElementById("descriptionModal");
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        var descriptionModal = document.getElementById("descriptionModal");
        var imageModal = document.getElementById("imageModal");

        if (event.target === descriptionModal || event.target === imageModal) {
            descriptionModal.style.display = "none";
            imageModal.style.display = "none";
        }
    };


    function updateModalBackground(modalId) {
        var h5Element = document.querySelector('h5');
        var modalContent = document.getElementById(modalId).querySelector(".modal-content");

        var textColor = window.getComputedStyle(h5Element, null).getPropertyValue("color");

        if (textColor === 'rgb(255, 255, 255)') {
            modalContent.style.backgroundColor = '#2C394B';
        } else {
            modalContent.style.backgroundColor = 'white';
        }
    }

    function sortTable(column, direction) {
        // This function will send a request to the Flask backend

        const url = new URL(window.location);
        url.searchParams.set('sort_column', column);
        url.searchParams.set('sort_direction', direction);
        window.location.href = url.toString();
    }

    function clearSearch() {
        window.location.href = "{% url 'search_contract' %}";
    }
</script>
{% endblock extra_js %}